loguru
androguard==3.3.5
opencv-python
imgsim
sentence-transformers
rich
frida==16.0.1
frida-tools==12.0.1
Levenshtein
imagehash
wordninja
setuptools==65.5.0
similarities
pydantic
pytesseract
uiautomator2==2.16.16
mitmproxy
dpkt
